@use "_variables";

#site-footer {
  background-color: variables.$footer-background-color;
  color: variables.$footer-font-color;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "left content right";
  border-top: 1px solid variables.$section-border-color;

  //strong {
  //  font-family: Roboto, sans-serif;
  //  font-weight: bold;
  //  font-size: 1.8rem;
  //}
}

.footer-inner {
  grid-area: content;
  max-width: 140rem;
}

address {
  font-style: normal;

  p {
    margin-top: 0;
  }
}

.footer-grid {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  > * {
    margin: 1rem 2rem;
    width: 30rem;
  }
}

#footer ul {
  list-style: none;
  padding-left: 0;
}

