// Fixes partners container from "Logo Slider by LogicHunt.com"-plugin

// Stop going over menu when scrolled.
.owl-carousel {
  z-index: unset;
}

// Align items centrally in the logo slider.
.owl-stage {
  display: flex;
  align-items: center;
}

// Zoom when hovering a logo.
.lgx-logo-slider-wp .hover-zoomin .lgx-logo-item .lgx-logo-img {
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -o-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
}
