@use "_variables";

#social-media-menu {
  list-style: none;
  padding-left: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  svg {
    fill: variables.$footer-font-color;
  }

  svg:hover {
    fill: rgb(120,120,120);
  }
}
