@use "_variables";
@use "_mixins";

@include mixins.headings {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: variables.$h1;
}

body {
  color: variables.$font-color;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

a {
  color: variables.$link-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: variables.$link-visited-color;
}

a:active {
  color: variables.$link-active-color;
}

main, footer {
  line-height: 1.6;
}


main {
  @include mixins.headings {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  .entry-header, .page-header {
    @include mixins.headings {
      text-align: center;
    }
  }
}

.partners {
  @include mixins.headings {
    text-align: center;
    font-size: variables.$h1;
  }
}
