@import "variables";


main {

  // This is stupid. Margins only applied to the containers with a class that is explicitly
  // stated here. Couldn't think of a better way to do this.
  .entry-header,
  .page-header {
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $block-padding-width;
    padding-right: $block-padding-width;
  }
  .entry-content,
  .page-content {
    > * {
      max-width: $content-width;
      margin-left: auto;
      margin-right: auto;
      padding-left: $block-padding-width;
      padding-right: $block-padding-width;
    }

    > ul > li{
      margin-left: 4rem;
    }

    > ol > li {
      margin-left: 4rem;
    }

    > dl > dt, dl > dd {
      margin-left: 4rem;
    }

    .alignfull {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
    }

    .alignwide {
      max-width: min(#{$wide-width}, 100%);
      margin-left: auto;
      margin-right: auto;
      padding-left: $block-padding-width;
      padding-right: $block-padding-width;
    }
  }
}
