@import "variables";


main {

  // This is stupid. Margins only applied to the containers with a class that is explicitly
  // stated here. Couldn't think of a better way to do this.
  .entry-header,
  .page-header {
    max-width: $content-width;
    margin: 1rem auto;
    padding-left: $block-padding-width;
    padding-right: $block-padding-width;
  }
  .entry-content,
  .page-content {
    > * {
      max-width: $content-width;
      margin: 1rem auto;
      padding-left: $block-padding-width;
      padding-right: $block-padding-width;
    }

    .alignfull {
      max-width: 100%;
      margin: 1rem 0;
      padding-left: $block-padding-width;
      padding-right: $block-padding-width;
    }

    .alignwide {
      max-width: calc(max($wide-width, 100%));
      margin: 1rem auto;
      background: green;
      padding-left: $block-padding-width;
      padding-right: $block-padding-width;
    }
  }
}
