$dark:   rgb(22,22,22);
$light: rgb(255,255,255);

#site-wrapper {
  min-height: 100vh;
  background: $light;

  display: -ms-grid;
  display: grid;
  grid-template-areas:
  "header"
  "content"
  "footer";
  grid-template-rows: auto 1fr auto;
}

#site-header {
  background-color: $light;
  color: $dark;
  grid-area: header;
  position: sticky;
  top: 0;
}

#site-content {
  grid-area: content;
}

#site-footer {
  background-color: $light;
  color: $dark;
  grid-area: footer;
  border-top: 1px solid black;
}

.skip-link {
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  margin-bottom: -1px;
  position: absolute;
}

.skip-link:focus {
  position: unset;
}

#wrapper {
  width: 800px;
  height: 100%;
  margin: 0 auto;

  > h1:first-child,
  > h1:last-child,
  > p:first-child,
  > p:last-child {
    display: inline-block;
    // Paska tapa
    float: left;
    clear: left;
  }
}
