@import "variables";

html {
  font-size: 62.5%;
}

body {
  background-color: $background-color;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr auto auto;
  grid-template-areas:
          "header"
          "portal"
          "content"
          "partners"
          "footer";
}

main {
  grid-area: content;
}

#site-header {
  z-index: 1;
  grid-area: header;
  position: sticky;
  top: 0;
}

.portal-wrapper {
  background-size: cover;
  grid-area: portal;
}

.partners {
  grid-area: partners;
}

#site-footer {
  grid-area: footer;
  overflow: hidden;
}

html.js {
  .fade-in {
    opacity: 0;

    transform-origin: center bottom;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .fade-in.appear {
    animation-name: fadeInUp;
  }
}
