$dark:   rgb(22,22,22);
$light: rgb(255,255,255);

$height: 6em;

#navigation-primary {
  height: $height;

  * {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
}

#nav-logo {
  line-height: 1em;
  width: 198px;
  height: 198px;
  img {
    width: 198px;
    height: 198px;
  }
}

.menu-icons {
  color: slategrey;
  font-size: 2em;
  position: absolute;
  top: 50%;
  right: 2em;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1500;
  display: none;
}
.nav-list {
  display: flex;

  li {
    line-height: $height;
    position: relative;
  }

  li:hover > .sub-menu {
    visibility: visible;
  }

  a {
    display: block;
    color: $dark;
    padding: 0 1em;
    transition: color 200ms;
  }

  a:hover {
    color: green;
  }
}

.sub-menu {
  background-color: $light;
  width: 10em;
  display: block;
  position: absolute;
  border: 1px solid black;
  visibility: hidden;
  transition: visibility 200ms;

  .sub-menu {
    top: 0;
    left: 100%;
  }

  li {
    line-height: 2em;
  }
}


#navigation-portal {
  width: 100%;
  background: antiquewhite;
  display: flex;
  flex-direction: row;
}

.portal-single {
  font-size: 1.5em;
  border: 1px solid black;
  height: 200px;
  flex-grow: 1;
  flex-basis: 0;
  display: block;
  background: red;
  text-align: center;
}

.one {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.two {
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.three {
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
